body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background-color: #ee9bb0;
}
.start {
    background-color: rgba(255, 255, 255, 0.342);
    height: 30dvh;
    width: 30dvw;
    border-radius: 10px 20px;
    transition: transform 0.2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start:hover {
    animation: shake 0.2s linear; 
}

@keyframes shake {
    0%{transform: rotateZ(0deg);}
    25%{transform: rotateZ(-5deg);}
    50%{transform: rotateZ(0deg);}
    75%{transform: rotateZ(5deg);}
    100%{transform: rotateZ(0deg);}
}

#play{
    font-size: 1.3rem;
    padding: 4%;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #fb6f92;
    transition: transform 0.2s linear, font-size 0.2s linear, border-radius 0.2s linear;
}
#play:hover{
    transform: skew(1.1);
    font-size: 1.33rem;
    border-radius: 10px 20px;
}
